.DS_Store
.classpath
.gradle
.idea
.project
.settings
*.iml
*.ipr
*.iws

/bin
/build
/classes
/lib
/log
/out
/target

/restfbmessenger-*/bin
/restfbmessenger-*/build
/restfbmessenger-*/classes
/restfbmessenger-*/lib
/restfbmessenger-*/log
/restfbmessenger-*/out
/restfbmessenger-*/target

/samples/*/bin
/samples/*/build
/samples/*/classes
/samples/*/lib
/samples/*/log
/samples/*/out
/samples/*/target
